body {
    background-color: black;
    color: cyan;
    font-family: Arial, sans-serif;
    text-align: center;
}

#timer {
    font-size: 100px;
    margin-top: 20vh;
}

#controls {
    margin-top: 20px;
}

button {
    font-size: 20px;
    margin: 5px;
    padding: 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#exitFullScreen {
    display: none;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
}
